<section>
  <h4>Archives</h4>
    <ul class="">
    {% for post in site.posts %}
      {% capture post_month %}{{post.date | date: "%m"}}{% endcapture %}
      <li>
        <a href="/archives/{{ post.date | date: "%Y" }}#{{ post.date | date: "%B" | slugify }}">
          {{ post.date | date: "%B %Y" }}
        </a>
      </li>
    {% endfor %}
    </ul>
  <h4>Topics</h4>
    <ul>
    {% for category in site.categories %}
      <li><a href="/topics/{{ category | first }}">{{ category | first | capitalize }}</a>
      </li>
    {% endfor %}
    </ul>
</section>