{%- comment -%} from blog.md {%- endcomment -%}
<div class="media">
  {% if post.image %}
  {% assign thumb = post.image | replace: ".jpg", "_tn.jpg" | split: "/" %}
  <img 
    class="w-25 mr-3 border border-secondary rounded" 
    {% if post.image_tn %}
    src="{{ post.image_tn }}"        
    {% else %}
    src="/{{ thumb[1] }}/thumbnail/{{ thumb.last }}" 
    {% endif %}
    alt="{{ post.title }}">
  {% endif %}
  <div class="media-body">
    <h3>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h3>
    <p class="border-bottom">
      {{ post.author }} - {{ post.date | date: "%B %-d, %Y" }}
    </p>
    {%- if site.show_excerpts -%}
    {{ post.excerpt }}
    {%- endif -%}
    <p><a href="{{ post.url }}">Read more...</a></p>
  </div>
</div>