---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" | where: "name", page.topic %} 

  {% for year in postsByYear %}

    {% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%B'" %}

      {% for month in postsByMonth %}
      <h2 id="{{ month.name | slugify }}">{{ month.name }}</h2>
        {% for post in month.items %}
        {% include post_tease.html %}
        {% endfor %}
      {% endfor %}
  {% endfor %}

</article>