---
layout: default
---
<article>
  <header>
    {% assign collectionname = page.collection %}
    {% assign col = site.collections | where: 'label',collectionname | first %}
    <h1 class="pb-3">
      <a href="/galleries/{{ collectionname }}">
        {{ col.title }}
      </a>
    </h1>

  </header>
  <section class="galleryitem text-center">
    <figure class="figure">
      <img class="figure-img img-fluid rounded" 
        src="{{ page.image }}" alt="{{ page.title }}">
      <figcaption class="figure-caption">
        {{ page.title }}
      </figcaption>
    </figure>
    
  </section>

  {{ content }}

  <nav class="py-2" aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        {% if page.previous.url %}
        <a class="page-link" href="{{page.previous.url}}">&laquo;&nbsp;{{page.previous.title}}</a>
        {% endif %}
      </li>
      <li class="page-item">
        {% if page.next.url %}
        <a class="page-link" href="{{page.next.url}}">{{page.next.title}}&nbsp;&raquo;</a>
        {% endif %}
      </li>
    </ul>
  </nav>

  {%- include share.html -%}

  {% for tag in page.tags %}
  <span class="badge badge-info">
    <!-- <a href="/tags/{{ tag }}/"> -->
      {{ tag }}
    <!-- </a> -->
  </span>
  {% endfor %}
</article>
