---
layout: default
---
<article class="blog">

  <!-- <header>
    <h1>{{ page.title | escape }}</h1>
  </header> -->

  <section>
    {{ content }}
  </section>

  {% if page.name == 'galleries.md' %}
  <section class="py-3 featured galleryindex">
    {% assign alldocs = site.documents %}
    {% assign grouptag =  alldocs | map: 'tags' | join: ','  | split: ','  | group_by: tag | where: "name","cover" %}
    {%- for tag in grouptag -%}
        
        <div class="card-deck">
        {%- for doc in alldocs -%}
          {% assign thumb = doc.image | replace: ".jpg", "_tn.jpg" | split: "/" %}
          {% if doc.tags contains tag.name %}
          
          {% assign collectionname = doc.collection %}
          {% assign col = site.collections | where: 'label',collectionname | first %}
          <div class="card">
            <div class="card-header">
              {{ col.title }}
            </div>
            <img 
              class="card-img-bottom" 
              src="/{{ thumb[1] }}/{{ thumb[2] }}/thumbnail/{{ thumb.last }}" 
              alt="{{ doc.title }}">
            <div class="card-img-overlay">
                <a 
                  class="stretched-link"
                  href="/galleries/{{ collectionname }}">
                </a>
            </div>
          </div>
                    
          {% endif %}
        {%- endfor -%}
        </div>
  {%- endfor -%}
  </section>
  {% endif %}
</article>
