---
layout: default
---
{%- comment -%}
<article class="blog">
  
  <section>
{%- endcomment -%}
    {{ content }}
{%- comment -%}
  </section>
{%- endcomment -%}

  {% if page.name == 'galleries.md' %}
  <section class="py-3 
    d-flex 
    justify-content-center
    ">
    {% assign alldocs = site.documents %}
    {% assign grouptag =  alldocs | map: 'tags' | join: ','  | split: ','  | group_by: tag | where: "name","cover" %}
    {%- for tag in grouptag -%}
        
        {%- for doc in alldocs -%}
          {% assign thumb = doc.image | replace: ".jpg", "_tn.jpg" | split: "/" %}
          {% if doc.tags contains tag.name %}
          
          {% assign collectionname = doc.collection %}
          {% assign col = site.collections | where: 'label',collectionname | first %}
          <div class="card text-center border-white" style="max-width: 250px">
            <h5 class="card-title nav-item" style="font-weight: 500;" >
              <a 
              class="stretched-link nav-link"
              href="/galleries/{{ collectionname }}">
              {{ col.title }}
                </a>
            </h5>
            <img 
              class="card-img" 
              {% if doc.image_tn %}
              src="{{ doc.image_tn }}"        
              {% else %}
              src="/{{ thumb[1] }}/{{ thumb[2] }}/thumbnail/{{ thumb.last }}" 
              {% endif %}
              alt="{{ doc.title }}">
          </div>
                    
          {% endif %}
        {%- endfor -%}
  {%- endfor -%}
  </section>
  {% endif %}
{%- comment -%}
</article>
{%- endcomment -%}
